<section class="modal" >
    <div (click)="this.emitCloseModal()" class="modal__close">&#10005;</div>



        <form  autocomplete="false" class="form" #f="ngForm" (ngSubmit)="this.onFormSubmit(f)" >


            <h2 class="form__heading">Add System Report</h2>




            <div class="form__group" style="border: none;">
                <!-- <label for="image_upload" class="form__group__label"></label> -->
                <input
                (change)="this.onFileChange($event.target.files)"
                style="margin-top: 1em;"
                    #image_upload
                    name="image_upload"
                    ngModel
                    autocomplete="new-password"
                    type="file"
                    accept="image/any"
                    multiple="yes"
                class="form__group__input">
            </div>

            <button [disabled]="f.invalid || f.submitted" type="submit" class="form__btn" >Submit</button>
            <p *ngIf="taskSubmitted">Report submitted, cleaning form.</p>

        </form>


</section>
