.search {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(
        45deg,
        var(--color-primary-light),
        var(--color-secondary-dark),
        var(--color-secondary-light),
        var(--color-primary-dark),

        
        );
    background-size: 400% 400%;

    -webkit-animation: AnimationName 15s ease infinite alternate-reverse;
    -moz-animation: AnimationName 15s ease infinite alternate-reverse;
    -o-animation: AnimationName 15s ease infinite alternate-reverse;
    animation: AnimationName 15s ease infinite alternate-reverse;  

    &__no-results {
        color: var(--color-background-secondary);
        font-size: 20px;
        font-weight: bold;
    }
    


    app-search-bar {
        margin-top: 15em;
        margin-bottom: 4em;
        font-size: 7px;
    }

    app-task-overview-card {
        margin: 5em 0;
    }

    
}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@keyframes AnimationName {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}