
<section class="search">
    <app-header></app-header>
    <app-search-bar (query)="this.searchTasks($event)" ></app-search-bar>
    <app-spinner *ngIf="this.querying"></app-spinner>
    <p class="search__no-results" *ngIf="this.queriedTaskList && (this.queriedTaskList.length <= 0) && !this.querying">No results</p>
    <ng-container *ngIf="this.queriedTaskList">
        <app-task-overview-card
            [routerLink]="['/task-details', this.db.getIndexByID(this.task.docID)]"
            [fName]="this.task.fName"
            [lName]="this.task.lName"
            [phone]="this.task.phoneNums || this.task.phoneNums[0]"
            [description]="this.task.description"
            [deadline]="this.task.statusUpdates[0].deadline"
            [status]="this.task.statusUpdates[0].status"
            [whoIs]="this.task.statusUpdates[0].whoIs"
            [price]="task.price"
            *ngFor="let task of this.queriedTaskList"
        ></app-task-overview-card>
    </ng-container>
    
</section>