
<section class="search">
    <app-header></app-header>
    <app-search-bar (query)="this.searchTasks($event)" ></app-search-bar>
    <app-spinner *ngIf="this.querying"></app-spinner>
    <p class="search__no-results" *ngIf="this.queriedTaskList && (this.queriedTaskList.length <= 0) && !this.querying">No results</p>
    <ng-container *ngIf="this.queriedTaskList">
        <app-task-overview-card
            [routerLink]="['/hoods/details', this.db.getIndexByID(this.task.docID)]"

            *ngFor="let task of this.queriedTaskList"
        ></app-task-overview-card>
    </ng-container>

</section>
