:root {
    --color-primary: #6700bf;
    --color-primary-light: #a478ca;
    --color-primary-dark: #43007e;

    --color-secondary: #00ffc1;
    --color-secondary-light: #73ffdc;
    --color-secondary-dark: #00a57c;

    --color-tertiary: ;


    --color-background: #f3f2f2;



    --color-box-shadow: #000000;
}