:root {
    --color-primary: #742fcf;
    --color-primary-light: #a478ca;
    --color-primary-dark: #613783;

    --color-secondary: #18a3ad;
    --color-secondary-lighter: #17afa7;
    --color-secondary-light: #1ed2d8;
    --color-secondary-dark: #147094;

    --color-tertiary: ;


    --color-background: #dedbe9;
    --color-background-secondary: #f1f1f1;
    --color-background-tertiary: #b9e4e7;
    --color-background-tertiary-dk: #a1d8dd;
    --color-background-quarternary: #4b5152;



    --color-box-shadow: #000000;
    --color-box-shadow-trans: #000000b4;


    --color-text-md: #667174;
    --color-text-secondary-light: #577783;

    --color-error: #ce9641;
}