:root {
    --color-primary: #6700bf;
    --color-primary-light: #a478ca;
    --color-primary-dark: #43007e;

    --color-secondary: #188dad;
    --color-secondary-light: #1eb0d8;
    --color-secondary-dark: #147894;

    --color-tertiary: ;


    --color-background: #dedbe9;
    --color-background-secondary: #f1f1f1;
    --color-background-tertiary: #b9e4e7;
    --color-background-quarternary: #4b5152;



    --color-box-shadow: #000000;


    --color-text-md: #667174;
    --color-text-secondary-light: #577783;

    --color-error: #ce9641;
}