.task-details {
    width: 100%;

    p {
        color: var(--color-background);
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 0;
        padding: 0.4em 10%;
    }
    &__contact {
        position: relative;
        padding: 10em 0;
        padding-top: 17em;
        width: 100%;
        background: linear-gradient(
            to bottom right,
            var(--color-primary),
            var(--color-secondary-light),
        );

        app-task-details-menu {
        }
    }



    &__info {
        width: 100%;
        
        background: var(--color-background-secondary);
        color: var(--color-background-quarternary);
        margin: 0;
        padding: 5em 0;


        p {
            padding: 0.5em 10%;
            color: var(--color-text-md);
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: normal;

            &::first-letter {
                text-transform: capitalize;
            }
        }
    }

    &__status {
        width: 100%;
        background: var(--color-background);
        padding-bottom: 10em;

        p {
            color: var(--color-secondary);
            padding: 0.2em 10%;
            padding-top: 2em;
            font-size: 18px;
            letter-spacing: 1px;
        }

        &__item {
            width: 100%;
            padding-bottom: 5em ;
        }
    }
}