.header {
    position: fixed;
    left: 0;
    top: 10px;
    width: 12em;
    height: 8em;
    background-color: var(--color-background-secondary);
    box-shadow: 0 1px 5px var(--color-box-shadow);
    border-radius: 0 25px 25px 0;
    z-index: 1000;
    color: var(--color-text-md);

    &__arrow {
        font-size: 3em;
        font-weight: 800;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            padding: 1em;
            margin: 0;
            &:visited {
                color: inherit;
            }
        }
    }

    



    &__logo {
        height: 5em;
        position: absolute;
        left: 1.5em;
        top: 2em;
        user-select: none;
        -webkit-user-select:none;
        -webkit-touch-callout:none;

       
    }

    &__search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__menu {
        position: absolute;
        right: 0em;
        top: 0em;
    }
}