.header {
    position: absolute;
    left: 0;
    top: 1.5em;
    width: 12em;
    height: 8em;
    background-color: var(--color-background-secondary);
    position: relative;
    box-shadow: 0 1px 5px var(--color-box-shadow);
    border-radius: 0 25px 25px 0;



    &__logo {
        height: 5em;
        position: absolute;
        left: 1.5em;
        top: 2em;
    }

    &__search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__menu {
        position: absolute;
        right: 0em;
        top: 0em;
    }
}