input {
    position: relative;
    width: 50vw;
    max-width: 25em;
    min-width: 18em;
    height: 3em;
    border-radius: 25px;
    border: 3px solid var(--color-primary-light);
    perspective: 1000px;

    font-size: 2.5em;
    padding: 1em;
    color: var(--color-primary);
    background: var(--color-background-secondary);


    &::-webkit-search-cancel-button {
        display: none;
    }




}