.create-task {
    padding-top: 2.5em;
    font-size: 4em;
    background: var(--color-background-secondary);


    &__heading {
        color: var(--color-secondary);
        margin: 0;
        padding: 2em 0 2em 0.5em;
    }
}