.create-task {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 4em;
    width: 100%;
    background: var(--color-background-secondary);


    &__heading {
        color: var(--color-secondary);
        margin: 2em 1em;
    }
}