.task-overview {   
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;

    &__no-tasks {
        margin-top: 5em;
        font-size: 30px;
        font-weight: 500;
        position: absolute;
        line-height: 1.5em;
        left: 50%;
        top: 50%;
        white-space: pre-wrap;
        transform: translate(-50%, -50%);
        color: var(--color-primary);
        width: 80%;
        text-decoration: underline;
        cursor: pointer;

    }



    
}


app-search-bar {
   margin-top: 30em;
   margin-left: 36%;
   
    
    
  }

  app-task-overview-card {
    margin-top: 3em;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.9) translateY(5em);
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s ease-out ;
  }