<div class="task-overview">
    <app-menu></app-menu>
    <app-search-bar (query)="this.searchTasks($event)" ></app-search-bar>
    <!-- <app-spinner *ngIf="this.querying"></app-spinner> -->
    <p class="search__no-results" *ngIf="this.queriedTaskList && (this.queriedTaskList.length <= 0) && !this.querying">No results</p>
    <div *ngIf="this.db.taskList">
        <app-task-overview-card
            appAnimateOnView
            [routerLink]="['/hoods/details', task.id]"
            [email]="task.email"
            [lights]="task.lights"
            [exhaust]="task.fans"
            *ngFor="let task of this.staticTaskList"
        ></app-task-overview-card>
    </div>
    <!-- <p
        class="task-overview__no-tasks"
        *ngIf="showNoTaskMsg"
        routerLink="/create-task"
        >Psst... you have no tasks yet. Follow this link to create your first task.</p>
        <app-spinner *ngIf="this.db.hasTasks === undefined" class="task-overview__spinner"></app-spinner>
    <ng-container *ngIf="this.sortedTaskList && (this.sortedTaskList?.length - 1) >= 0 && !this.hideSortedTaskList">
        <app-task-overview-card
        *ngFor="let task of this.sortedTaskList; let i = index;"
        appAnimateOnView
        [routerLink]="['/hoods/details', task.docID]"
        [email]="task.email"></app-task-overview-card>
    </ng-container> -->



</div>


