/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';
@import './styles/abstract/variables_.scss';
html, body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background: var(--color-background);
    user-select: none;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: var(--color-primary);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

*, *:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.firebaseui-title {
    color: var(--color-primary) !important;
}
.firebaseui-idp-password {
    background: var(--color-primary) !important;
}

.firebaseui-idp-anonymous {
    background: var(--color-secondary-dark) !important;
}

.progressbar {
    background-color: var(--color-primary-dark) !important;
}

.mdl-button--raised.mdl-button--colored {
    background-color: var(--color-secondary-dark) !important;
}

.mdl-button.mdl-js-button.mdl-button--primary {
    color: var(--color-primary-dark) !important;}

.firebaseui-textfield.mdl-textfield.firebaseui-label::after {
    background-color: var(--color-primary-dark) !important;
}

a.firebaseui-link {
    color: var(--color-primary-dark) !important;
}

.error {
    color: var(--color-error) !important;
    font-size: 14px !important;
    position: absolute;
    left: 1em;
    bottom: -3em;
}

.error-color {
    color: var(--color-error) !important;
    font-size: 14px !important
}