.card {
    position: relative;
    font-weight: 600;
    width: 85vw;
    background: var(--color-background-secondary);
    font-size: 18px;
    box-shadow: 1px 1px 3px var(--color-box-shadow);
    border-radius: 10px;
    overflow: hidden;
    overflow-x: hidden;
    cursor: pointer;
    animation: fadein .7s ease;
    user-select: none;
    height: 100%;
    padding-bottom: 2em;
    border-bottom: 2px solid var(--color-primary);
    transform: scale(0.99);
    max-width: 100rem;

    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    color: var(--color-secondary);

    &:active {
        transform: scale(0.97) !important;
        transition: transform 0.1s;
    }

    p {
        margin: 0.5em 0 0.5em 0;
    }


    &__contact {

        background: linear-gradient(
            to bottom right,
            var(--color-primary),
            var(--color-secondary-dark),

        );
        width: 100%;
        padding: 0.3em 1em;
        color: var(--color-background);

        &__phone {
            font-size: 16px;
            letter-spacing: 2px;
            width: 80%;
        }

        
    }

    &__task-info {
        margin-right: 0;
        width: 80%;
        background: var(--color-background-secondary);
        padding: 1em;
        color: var(--color-text-md);
        p {
            margin: 0;
            width: 100%;
            line-height: 1.5em;
            white-space: pre-wrap;
        }
    }

    

   

    &__pricing {
        position: relative;
        width: 100%;
        background: var(--color-background-tertiary);
        padding: 0.3em 0;
        color: var(--color-secondary);
        border-bottom-right-radius: 30px;
        background-clip: padding-box;
        border-bottom: 3px solid transparent;
        max-height: 40%;
        

        p {
            width: 95%;
            padding: 1em 0 .5em 0;
            text-align: right;

            @media only screen and (max-width: 600px) {
                text-align: left;
                padding-left: 1em;
            }
        }

        span {
            color: var(--color-secondary-dark);
        }
        

        &::after {
            position: absolute;
            top: 0; bottom: -3px;
            right: -3px; left: -30px;
            background: linear-gradient(to left, var(--color-primary), var(--color-secondary-light));
            content: '';
            z-index: -1;
            border-radius: 31px;
        }

        

        

        &__deadline {
            position: relative;
            ::after {
                content: 'DEADLINE';
                position: absolute;
                left: 1em;
                top: 1em;
                color: var(--color-secondary);
                margin: 0;

                @media only screen and (max-width: 600px) {
                    top:-0.25em;
                    left: 1.7em;
                    font-size: 11px;
                }

            }
        }

        &__status {
            position: relative;
            ::after {
                content: 'STATUS';
                position: absolute;
                left: 1em;
                top: 50%;
                transform: translateY(-50%);
                color: var(--color-secondary);

                @media only screen and (max-width: 600px) {
                    top:0.25em;
                    left: 1.7em;
                    font-size: 11px;
                }

            }
            
        }

        &__due {
            position: relative;
            ::after {
                content: 'PRICE (Without Tax)';
                position: absolute;
                left: 1em;
                top: 50%;
                transform: translateY(-50%);
                color: var(--color-secondary);

                @media only screen and (max-width: 600px) {
                    top:0.5em;
                    left: 1.7em;
                    font-size: 11px;
                }

            }
        }
    }

    &__whois {


        &__name {
            padding: 0 1em;
            color: var(--color-text-md);
        }
    }
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1}
}