.card {
    opacity: 0.1;
    max-width: 50em;
    font-weight: 600;
    width: 85%;
    background: var(--color-background-secondary);
    font-size: 18px;
    box-shadow: 0 0 10px var(--color-box-shadow);
    border-radius: 10px;
    overflow: hidden;
    overflow-x: hidden;
    cursor: pointer;
    
    user-select: none;
    transition: all 0.4s ease-out 0.1s;
    transform: scale(0.9) translateY(5em);

    color: var(--color-secondary);

    &:active {
        transform: scale(0.98) !important;
        transition: transform 0.1s;
    }

    p {
        margin: 0.4em 0 0.4em 0;
    }


    &__contact {

        background: linear-gradient(
            to bottom right,
            var(--color-primary),
            var(--color-secondary),

        );
        width: 100%;
        padding: 0.3em 1em;
        color: var(--color-background);

        &__phone {
            font-size: 16px;
            letter-spacing: 2px;
        }

        
    }

    &__task-info {
        width: 100%;
        background: var(--color-background-secondary);
        padding: 1em;
        color: var(--color-text-md);
        p {
            width: 90%;
            line-height: 1.5em;
            white-space: pre-wrap;
        }
    }

    

   

    &__pricing {
        position: relative;
        width: 100%;
        background: var(--color-background-tertiary);
        padding: 0.3em 0;
        color: var(--color-secondary);
        border-bottom-left-radius: 30px;
        background-clip: padding-box;
        border-bottom: 2px solid transparent;

        p {
            width: 95%;
            padding: 1em 0 .5em 0;
            text-align: right;

            @media only screen and (max-width: 600px) {
                text-align: left;
                padding-left: 1em;
            }
        }

        span {
            color: var(--color-secondary-dark);
        }
        

        &::after {
            position: absolute;
            top: 0; bottom: -3px;
            left: -3px; right: -30px;
            background: linear-gradient(to left, var(--color-primary), var(--color-secondary-light));
            content: '';
            z-index: -1;
            border-radius: 31px;
        }

        

        

        &__deadline {
            position: relative;
            ::after {
                content: 'DEADLINE';
                position: absolute;
                left: 1em;
                top: 1em;
                color: var(--color-secondary);
                margin: 0;

                @media only screen and (max-width: 600px) {
                    top:-0.25em;
                    left: 1.7em;
                    font-size: 11px;
                }

            }
        }

        &__status {
            position: relative;
            ::after {
                content: 'STATUS';
                position: absolute;
                left: 1em;
                top: 50%;
                transform: translateY(-50%);
                color: var(--color-secondary);

                @media only screen and (max-width: 600px) {
                    top:0.25em;
                    left: 1.7em;
                    font-size: 11px;
                }

            }
            
        }

        &__due {
            position: relative;
            ::after {
                content: 'DUE';
                position: absolute;
                left: 1em;
                top: 50%;
                transform: translateY(-50%);
                color: var(--color-secondary);

                @media only screen and (max-width: 600px) {
                    top:0.5em;
                    left: 1.7em;
                    font-size: 11px;
                }

            }
        }
    }

    &__whois {

        text-align: right;


        &__name {
            padding: 0 1em;
            color: var(--color-text-md);
        }
    }
}