.card {
    opacity: 0.4;
    max-width: 40em;
    font-weight: 600;
    width: 85%;
    background: var(--color-background-secondary);
    font-size: 18px;
    box-shadow: 0 0 10px var(--color-box-shadow);
    border-radius: 25px;
    overflow: hidden;
    user-select: none;
    transition: all 0.5s ease-in-out;
    transform: scale(0.8);

    color: var(--color-secondary);

    &:active {
        transform: scale(0.98);
        transition: transform 0.1s;
    }

    p {
        margin: 0.4em 0 0.4em 0;
    }


    &__contact {

        background: linear-gradient(
            to bottom right,
            var(--color-primary),
            var(--color-secondary),

        );
        width: 100%;
        padding: 0.3em 1em;
        color: var(--color-background);

        &__phone {
            font-size: 16px;
            letter-spacing: 2px;
        }

        
    }

    &__task-info {
        width: 100%;
        background: var(--color-background-secondary);
        padding: 1em;
        color: var(--color-primary);
    }

    

   

    &__pricing {
        width: 100%;
        background: var(--color-background-tertiary);
        padding: 0.3em 1em;
        color: var(--color-secondary);

        span {
            color: var(--color-secondary-dark);
        }
    }
}