nav {
    font-size: 12px;
    background-color:var(--color-background-tertiary);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    visibility:hidden;
    transition:all 0.3s ease-in-out;
    z-index: 100;
    padding: 0;

    @media screen and (max-width: 600px) {
      font-size: 10px;
    }

    

    
    
    ul {
      
      list-style-type:none;
      padding:0;
      margin:0;
      position:absolute;
      left:50%;
      top: 600%;
      transition:all 0.3s ease-in-out;
      transform:translate(-50%, -50%);
      
    
      li {
        display: flex;
        transform:translateY(50px);
        opacity:0;
        justify-self: left;
        margin-top: 1em;
        padding: 1em 2em;

  

        span {
          color: transparent;
          text-shadow: 0 0 0 var(--color-primary);

          font-size: 0.8em;
        }
        
        a {
          display:block;
          font-size:2em;
          text-decoration:none;
          padding:0;
          text-align:center;
          color:var(--color-secondary-dark);
          font-weight:bold;
          transition:all 0.2s ease-in-out;
          
          &:hover {
            // color:var(--color-secondary);
          }
        }
      }
    }
  }

.toggle-btn {
  display:block;
  position:fixed;
  z-index:1110;
  right:2em;
  top:1.5em;
  width: 10em;
  height: 5em;
  padding: 1em;
  border-radius: 50px;
  background: var(--color-background-secondary);
  cursor:pointer;
  box-shadow: 0 0px 5px var(--color-box-shadow);
  
  .bar {
    width:20px;
    height:3px;
    margin:5px auto;
    background-color:var(--color-primary);
    transition:all 0.3s ease-in-out;
    border-radius: 2px;
    transform: rotate(-45deg);
    
    &:nth-child(2) {
      width:40px;
      background-color: var(--color-secondary-dark);
    }
  }
}

#toggle:checked {
  &~nav {
    opacity:1;
    visibility:visible;

    ul {
      top:50%;
      
      li {
        transform:translateY(0px);
        opacity:1;

        @for $i from 1 through 4 {
            $t: $i * 0.1;
            &:nth-child(#{$i}) {
              transition:all 0.3s cubic-bezier(.6,0,.8,1.5) #{$t}s; 
            }
          }
      }
    }
  }
  
  &+label.toggle-btn {

    box-shadow: 0 0px 5px var(--color-box-shadow);
    .bar {
        width: 40px;
        background: var(--color-primary);

      &:nth-child(2) {
        transform:translate(50px,-50px) rotate(-45deg);
        opacity:0;
      }

      &:nth-child(1) {
        transform:translateY(10px) rotate(45deg);
      }

      &:nth-child(3) {
        transform:translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.active {
  background: var(--color-primary);
  clip-path: polygon(10% 0, 100% 0, 100% 60%, 90% 100%, 0 100%, 0 40%);



  a {
  color: var(--color-background-tertiary) !important;
  }
  span {
    color: transparent;
    text-shadow: 0 0 0 var(--color-background-tertiary) !important;
  }
}