<form autocomplete="false" class="form" #f="ngForm" (submit)="taskFormSubmit($event)" >
    <h2 class="form__heading">Contact Info</h2>
    <div class="form__group">
        <label for="fName" class="form__group__label">First Name *</label>
        <input
            #fName
            name="fName"
            ngModel
            required 
            autocomplete="no"
            type="text" 
        class="form__group__input">
    </div>
    <div class="form__group">
        <label for="" class="form__group__label">Last Name</label>
        <input
            #lName
            name="lName"
            ngModel
            autocomplete="new-password"
            type="text" 
        class="form__group__input">
    </div>
    <div class="form__group">
        <label for="" class="form__group__label">Phone Number *</label>
        <input
            mask="(000) 000-0000"
            #phoneNums
            name="phoneNums"
            ngModel
            required
            autocomplete="new-password"
            type="text"
        class="form__group__input">
    </div>
    <div class="form__group">
        <label for="" class="form__group__label">Email</label>
        <input autocomplete="new-password" pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" type="text" class="form__group__input">
    </div>

    <div class="form__group">
        <label for="" class="form__group__label">Address</label>
        <input autocomplete="new-password" type="text" class="form__group__input">
    </div>

    <h2 class="form__heading">Task Info</h2>

    <div class="form__group-textarea">
        <label for="" class="form__group-textarea__label">Task Description *</label>
        <textarea required autocomplete="new-password" type="text" class="form__group-textarea__textarea"></textarea>
    </div>

    <div class="form__group">
        <label for="" class="form__group__label">Price (without tax)</label>
        <input  
            prefix="$"
            mask="separator.2 decimal.2" 
            decimalMarker="." thousandSeparator="," 
            id="price" autocomplete="new-password" 
            type="text" 
        class="form__group__input">
    </div>

    <div class="form__group">
        <label for="" class="form__group__label">Payment</label>
        <input prefix="$"
        mask="separator.2 decimal.2" 
        decimalMarker="." thousandSeparator=","  autocomplete="new-password" type="text" class="form__group__input">
    </div>

    <h2 class="form__heading">Task Status</h2>

    <div class="form__group">
        <label for="" class="form__group__label">Status</label>
        <select autocomplete="new-password" type="select" class="form__group__input">
            <option id="select-placeholder" disabled selected value=""></option>
            <option value="">📋 Estimate Pending</option>
            <option value="">🤔 Estimate Pending Approval</option>
            <option value="">💳 Materials Pending Order</option>
            <option value="">⏳ Materials Pending Delivery</option>
            <option value="">🛠️ Work Started</option>
            <option value="">✔️ Complete</option>
            <option value="">Custom (describe in status notes)</option>
        </select>
    </div>

    <div class="form__group">
        <label for="" class="form__group__label">Status Notes</label>
        <input autocomplete="new-password" type="select" class="form__group__input">
    </div>

    <div class="form__group">
        <label for="" class="form__group__label">Due By Date</label>
        <input autocomplete="new-password" type="datetime-local" class="form__group__input">
    </div>
    
    <button type="submit" class="form__btn">Save Task</button>
</form>