<form class="form">
    <div class="form__group">
        <label for="" class="form__group__label">First Name</label>
        <input type="text" class="form__group__input">
    </div>
    <div class="form__group">
        <label for="" class="form__group__label">Last Name</label>
        <input type="text" class="form__group__input">
    </div>
    <div class="form__group">
        <label for="" class="form__group__label">Phone Number</label>
        <input type="text" class="form__group__input">
    </div>
    <div class="form__group">
        <label for="" class="form__group__label">Email</label>
        <input type="text" class="form__group__input">
    </div>

    <div class="form__group-textarea">
        <label for="" class="form__group-textarea__label">Task Description</label>
        <textarea type="text" class="form__group-textarea__textarea"></textarea>
    </div>
    
    <button class="form__btn">Save Task</button>
</form>